# Copyright (c) 2024 Keychron
# SPDX-License-Identifier: MIT



config SHIELD_KEYCHRON_B2
    bool    

config SHIELD_KEYCHRON_B2_KR
    def_bool $(shields_list_contains,keychron_b2_kr)
    select SHIELD_KEYCHRON_B2



